* {
    margin: 0;
    padding: 0;
}

html,
body {
    background: #1a191c;
    width: 100%;
    height: 100%;
}

#fond {
    width: 100%;
    height: 100%;
    position: fixed;
    opacity: 0.1;
    background: center / cover url(./src/01-trame.svg);
}

main {
    background: rgb(100, 0, 50, 0.25);
    position: absolute;
    left: 50%;
    top: 50%;
    width: 90%;
    height: 100%;
    transform: translate(-50%, -50%);
}

#helloworld {
    background: #1a191c;
    display: block;
    position: absolute;
    margin: 1%;
    padding: 1%;
    width: 96%;
    height: 97%;
    color: rgb(175, 175, 175);
}

.content {
    margin-top: 2%;
    margin-bottom: 4%;
    left: 50%;
    position: relative;
    transform: translateX(-50%);
    width: fit-content;
}

#logo {
    height: min-content;
    width: min-content;
}

.reponse {
    font-size: x-large;
    color: white;
}

input {
    width: 100%;
}